<app-navbar> </app-navbar>
<div class="contp">
    <div class="conth">
        <div class="producto">
            <div class="card">
                <img src="https://www.joyeriasanchez.com/24630-home_default/cadena-cosine-eslabones-barbados-oro-18k-60cm.jpg"  class="img-100" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{producto.nombre_producto}}</h5>
                  <!-- ..../producto/16 -->
                  <p class="card-text">{{producto.descripcion_producto}}</p>
                  <p class="card-text"><b>Precio: </b>${{producto.precio_producto}}</p>
                  <p class="card-text"><b>Stock: </b>{{producto.stock_producto}}</p>
                </div>
              </div>
        </div>
    </div>
</div>